.card-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
   max-width: 600px;
   margin-left: 400px;
    text-align: center;
    font-family: Arial, sans-serif;
  }
  
  .card-logo {
    width: 100px;
    height: 100px;
    margin-right: 20px;
  }
  
  .card-content {
    flex: 1;
    text-align: center;
  }
  
  .card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 18px;
  }
  
  .card-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .card-button:hover {
    background-color: #0056b3;
  }
  
 
  @media (max-width: 767px) {
    .card {
      padding: 10px;
      font-size: 16px;
    }
    .card h2 {
      font-size: 20px;
    }
    .card p {
      font-size: 16px;
    }
    .card-button {
      font-size: 16px;
    }
  }
  