@import url('./styles/var.css');
html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  color: var(--text-primary);
 /* background-image: url("./Commponents/Img/El.png");*/
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}

 code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 
h2{
  color:  #00ff1a;
}
p{
  color:  #a6ff00;
}

/*register, login*/
.login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100px;
}

.label{
  justify-content: center;
  text-align: center;
  align-items: center;
}
.form-login {
  margin: 0 auto;
  width: 60%;
  height: auto;
  background-color: var(--background);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}
@media screen and (max-width: 425px) {
  div.form-login {
    width: 100%;
    margin: 0; /* Elimina cualquier margen */
    padding: 0; /* Elimina cualquier padding */
  }
  form.form-login {
    width: 100%;
    margin: 0; /* Elimina cualquier margen */
    padding: 5%; /* Ajusta el padding si es necesario */
    box-sizing: border-box; /* Asegura que el padding no cause desbordamiento */
  }
}

.titelLog {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--text-primary);
}
.subtitlelog{
  color: var(--text-primary);
}

.usuario_estilo,
.contrasenia {
  justify-content: center;
  width: 75%;
  padding: 8px;
  padding-top: 8px;
  margin-bottom: 20px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.invalid-feedback {
  justify-content: center;
  margin-bottom: 15px;
  display: flex;
  font-size: 14px;
  color: #dc3545;
}
.select-form-control{
  justify-content: center;
  width: 78%;
  padding: 8px;
  padding-top: 8px;
  margin-bottom: 20px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.card-register-equipo{
  display: flow;
  align-items: center;
  background-color: var(--background);
  border: 1px solid #818181;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(183, 255, 0, 0.676);
  padding: 10px;
  max-width: 60%;
  margin-left: 20%;
  margin-top: 10%;
  text-align: center;
}
@media screen and (max-width: 425px) {
  .card-register-equipo {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    max-width: 100%; /* Asegura que el ancho máximo también sea el 100% */
    margin: auto;
    margin-top: 50%;
    padding: 0; /* Elimina cualquier padding */
    box-sizing: border-box;
  }
}
.WhatsApp{
  color: rgb(119, 255, 0);
   background-color: rgba(0, 0, 0, 0);
  font-size: 40px; /* Cambia el tamaño del icono según sea necesario */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima del icono */
}

Button[type="submit"],
button[type="cancel"],
button[type="button"] {
  width: auto; /* Permitir que el botón crezca según el contenido */
  margin: 1.5%;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px; /* Reducir el tamaño de la fuente */
  overflow: hidden; /* Recortar el contenido que excede el ancho */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos (...) si el contenido es demasiado largo */
}


Button[type="submit"] {
  background-color: #a4ff00;
  color: #000000;
}

button[type="button"] {
  background-color: rgb(41, 56, 56);
  color: #fff;
}

button[type="cancel"] {
  background-color: #ff3c00b6;
  color: #000000;
}

button[type="submit"]:hover {
  background-color: #161616;
  color: #ffffff;
}

button[type="button"]:hover {
  background-color: #a4ff00;
}

button[type="cancel"]:hover {
  background-color: #ff3c00;
  color: #ffffff;
}
input.is-invalid {
  border-color: #dc3545 !important;
}
/* Userpage */
.card-container {
  display: flow;
  align-items: center;
  background-color: var(--background);
  border: 1px solid #818181;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 45%;
  margin-left: 25%;
  margin-top: 1%;
  text-align: center;
}
@media screen and (max-width: 425px) {
  .card-container {
    width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
    max-width: 100%; /* Asegura que el ancho máximo también sea el 100% */
    margin: 0; /* Elimina cualquier margen */
    padding: 0; /* Elimina cualquier padding */
    box-sizing: border-box;
  }
  .ul-card{
    width: 100%;
    margin: 0;
    padding: 0;
    margin: 15% auto;
  }
}
.card-container-team{
  display: flex;
  align-items: center;
  background-color: var(--background);
  border: 1px solid #818181;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(143, 255, 6, 0.698);
  padding: 5%;
  max-width: 20%;
  margin-top: 10%;
  margin-left: 35%;
}
@media screen and (max-width: 768px) {
  .card-container-team{
    max-width: 50%;
    margin: 30% auto;
  }
}
.card-container-team {
  box-shadow: 0 2px 4px rgba(143, 255, 6, 0.698);
}

.p-submit {
  color: #000;
}

.cardButton {
  max-width: 45%;
  margin: 1.5%;
  padding: 0.5%;
  border-radius: 5px;
  cursor: pointer;
  font-size: 80%;
}
.userDiv,
.userDiv2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.userForm {
  width: 100%;
  max-width: 400px; /* Ancho máximo para todos los formularios */
  margin: 3%; /* Centramos los formularios horizontalmente */
  background-color: var(--background);
  padding: 5%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(157, 255, 0, 0.459);
  text-align: center;
}

h3.userH {
  color: #a4ff00;
  margin-bottom: 3%; /* Ajusta el espacio entre el título y el botón */
}

/* Media queries para hacerlo responsive */
@media screen and (max-width: 768px) {
  .userForm {
    max-width: 45%; /* Reducir el ancho máximo en pantallas más pequeñas */
    margin: 1% auto;
  }
  .userDiv,
  .userDiv2 {
    max-width: 100%; /* Reducir el ancho máximo en pantallas más pequeñas */
    flex-direction: column;
    margin-left: 10%;
  }
}

@media screen and (max-width: 576px) {
  .userForm {
    max-width: 90%; /* Reducir aún más el ancho máximo en pantallas muy pequeñas */
    margin: 2% auto; /* Centrar los elementos */
  }
  .userDiv,
  .userDiv2 {
    max-width: 100%; /* Reducir el ancho máximo en pantallas más pequeñas */
    flex-direction: column;
    margin: 2% auto;
  }
}

.card-logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.card-content {
  flex: 1;
  text-align: center;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
}

.card-button {
  background-color: #a4ff00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.card-button:hover {
  background-color: #0056b3;
}

@media (max-width: 767px) {
  .card {
    padding: 10px;
  }

  .card h3 {
    font-size: 20px;
  }

  .card p {
    font-size: 16px;
  }

  .card-button {
    font-size: 16px;
  }
}
.filter-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.filter-select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-container {
  position: fixed;
  top: 61px;
  left: -100%; /* Inicialmente oculto */
  width: 250px;
  height: 100%;
  background-color: #333;
  color: #fff;
  transition: left 0.3s;
  padding: 10px;
  z-index: 999;
}

.filter-container.active {
  left: 0; /* Mostrar el contenedor cuando está activo */
}

@media (max-width: 767px) {
  .filter-container {
    width: 90%;
  }
}

.filter-button {
  background-color: #a4ff00;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #0056b3;
}

@media (max-width: 767px) {
  .player-filter {
    padding: 10px;
  }

  .filter-title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .filter-select {
    width: 100%;
    padding: 8px;
    margin: 3px 0;
  }

  .filter-button {
    padding: 8px 16px;
  }
}

.hamburger-button {
  position: absolute;
  top: 60px;
  left: 20px;
  cursor: pointer;
  font-size: 24px;
  color: rgb(255, 255, 255);
  z-index: 1000;
}
@media screen and (max-width: 320px) {
  .hamburger-button {
    position: absolute;
    top: 70px;
    left: 70px;
  }
}
.card-container-changePasword {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  border: 1px solid #818181;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 40%; /* Ajuste del ancho máximo para pantallas pequeñas */
  margin: 3% auto;
  text-align: center;
}

@media (max-width: 767px) {
  .card-container-changePasword {
    max-width: 100%; /* Ajuste del ancho máximo para pantallas pequeñas */
    margin-left: 0; /* Eliminar margen izquierdo en pantallas pequeñas */
    margin-top: 10px; /* Ajuste del margen superior en pantallas pequeñas */
  }
}

/*ClubPage*/
.popUp-container {
  display: flex;
  align-items: center;
  background-color: var(--background);
  border: 1px solid #95ff00;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 8px;
  max-width: 40%; /* Ajuste del ancho máximo */
  margin: 1% auto; /* Centrar el contenedor */
  text-align: center;
}

.popUp-h2 {
  color: #000;
}

.player-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.player-card {
  border: 1px solid #ccccccad;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 500px;
  background-color: var(--background);
  margin: 10px;
}

.card-container-list {
  background-color: var(--background);
  display: flex;
  padding: 1%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin: 5%;
  border-radius: 15px;
}

.list-container {
  border-collapse: collapse;
  width: 80%;
  background-color: var(--background); /* Ancho del contenedor de la lista */
}

.list-container th,
.list-container td {
  border: 1px solid #53687E; /* Borde de 1px con color gris */
  padding: 8px; /* Espaciado interno */
  text-align: center; /* Alineación del texto al centro */
}

.list-container tbody tr:nth-child(even) {
  background-color: var(--background); /* Color de fondo para filas pares */
}

.list-container tbody tr:hover {
  background-color: var(--background); /* Color de fondo cuando se pasa el cursor sobre la fila */
}

@media (max-width: 599px) {
  .popUp-container {
    max-width: 90%; /* Ajuste del ancho máximo en pantallas pequeñas */
    margin: 5% auto; /* Centrar el contenedor en pantallas pequeñas */
  }

  .player-card {
    width: 90%; /* Ajuste del ancho máximo en pantallas pequeñas */
  }

  .list-container {
    width: 100%; /* Ajuste del ancho máximo en pantallas pequeñas */
  }
}


@media (max-width: 768px) {
  .player-card {
    width: 100%;
  }
}

.player-card button:hover {
  background-color: #0056b3;
}

.club-container{
  flex-direction: column;
  justify-content: center;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
@media (max-width: 599px) {
  .club-container {
    padding-left: 10px; 
  }
}

.club-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.h-post{
  text-align: center;
  justify-content: center;
  color: #fbfcfd;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.club-dashboard h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.filter {
  margin: 20px 0;
}

.filter select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.players h2 {
  font-size: 1.5rem;
  margin: 20px 0;
}

.accepted-players,
.rejected-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Estilos para hacer responsive */
@media (max-width: 768px) {
  .players,
  .accepted-players,
  .rejected-players {
    flex-direction: column;
  }
  .players h2,
  .accepted-players h2,
  .rejected-players h2 {
    font-size: 1.2rem;
  }
}



/*AdminPage*/
.form-admin{
  margin: 5%;
  margin-left: 25%;
  width: 50%;
  height: auto;
  background-color: var(--background);
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}
.admin {
  position: unset;
  display: block;
  justify-content: center;
  align-items: center;
  top: 150px;
}
.admin-input{
  width: 20%;
  height: 25px;
  border-radius: 5px;
  border-color: #ffffff00;
}
.img-previa{
  background-image: url("./Commponents/Img/FINdyourclub.png");
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  max-width: 100%;
}
.Admin-container{
  display: block;
  align-items: center;
  background-color: var(--background);
  border: 1px solid #a4ff00;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 30%;
  margin-left: 35%;
  margin-top: 1%;
  text-align: center;
}
.Admin-render-user{
  display: block;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.paginaPrevia {
  max-width: 600px;
  margin: 50px auto;
  background-color: var(--background); 
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h1 {
  color: #00c8ff; 
}

.prev, .prevRe, .prevRE {
  display: flex;
  padding: 10px 20px;
  margin: 10px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  outline: none;
  background-color: #28a745;
  color: #070707;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: #218838;
}

.prev {
  align-items: center;
  width: 240px;
  background-color: #a4ff00; 
}

.prevRe {
  background-color: #a4ff00; 
}

.prevRE {
  background-color: #a4ff00;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00000087;
  padding: 10px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px; 
  height: 40px; 
  margin-right: 10px;
 
}

.page-name,
.nav-item {
  color: #fff;
  margin-right: 15px;
}

.navbar-right button {
  background-color: #f00; 
  color: #fff;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
}

.style-span{
  text-align: center;
  justify-content: center;
  font-weight: 400; 
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 54px; 
  color: #c8ff61; 
  text-shadow: rgb(0, 0, 0) 2.0rem 1rem 0.5rem;
}

.text-span{
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 60%;
  margin-left: 18%;
  margin-top: 10px;
}

nav{
  display: flex;
  justify-content: center;
  align-items: first baseline;
  background-color: #d9d9d900;
  padding: 1%;
  width: 20%;
  margin-top: 1%;
  margin-left: 39%;
}
.nav-button{
  color: #ffffff;
  align-items: center;
  margin-right: 5px;
  background-color: #333;
  border-radius: 5px;
  border: #00000000;
  max-width: 60px;
}
.theme-icon {
  color: rgb(255, 255, 255);
   background-color: rgba(0, 0, 0, 0);
  font-size: 24px; /* Cambia el tamaño del icono según sea necesario */
  cursor: pointer; /* Cambia el cursor a una mano cuando se pasa por encima del icono */
}
.container-switch{
  margin-right: 8%;
  background-color: #ffffff00;
}
.container-switch-login{
  margin-right: 50%;
}
@media (max-width: 425px) {
  .container-switch-login{
    margin-right: 40%;
  }
}
/* Estilo para ocultar el input del checkbox */
.hidden-input {
  position: absolute;
  left: -9999px;
}
