html, body {
  height: 100%;
  margin: 0;
  padding: 0;

}
body {
  font-family: 'IBM Plex Sans', sans-serif;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(255, 255, 255); opacity: 1;
  background-image: url("./Commponents/Img/3d24ffc760bb39551b687ca294adc072.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

 code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 

/*login*/
.login {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 150px;
}

.label{
  justify-content: center;
  text-align: center;
  align-items: center;
}
.form-login {
  margin: 0 auto;
  width: 60%;
  height: auto;
  background-color: #04373dad;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}


.titelLog {
  font-size: 24px;
  margin-bottom: 20px;
  color: #d4cece;
}
.subtitlelog{
  color: #6d6d6d;
}

.usuario_estilo,
.contrasenia {
  justify-content: center;
  width: 75%;
  padding: 8px;
  padding-top: 8px;
  margin-bottom: 20px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*register */

.invalid-feedback {
  margin-bottom: 15px;
  display: flex;
  font-size: 14px;
  color: #dc3545;
}


Button[type="submit"] {
  width: 80%;
  background-color: #39aa22;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

Button[type="button"] {
  width: 45%;
  margin: 1.5%;
  background-color: rgb(41, 56, 56);
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
Button[type="buttonl"] {
  width: 45%;
  margin: 1.5%;
  background-color: rgb(41, 56, 56);
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button[type="submit"]:hover {
  background-color: #28812d;
}
button[type="button"]:hover {
  background-color: rgb(19, 73, 43);
}
button[type="buttonl"]:hover {
  background-color: rgb(19, 73, 43);
}
input.is-invalid {
  border-color: #dc3545 !important;
}
/* Userpage */
card-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
 max-width: 600px;
 margin-left: 400px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.card-logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.card-content {
  flex: 1;
  text-align: center;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
}

.card-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.card-button:hover {
  background-color: #0056b3;
}


@media (max-width: 767px) {
  .card {
    padding: 10px;
    font-size: 16px;
  }
  .card h2 {
    font-size: 20px;
  }
  .card p {
    font-size: 16px;
  }
  .card-button {
    font-size: 16px;
  }
}


.player-filter {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.filter-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.filter-select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #0056b3;
}


@media (max-width: 767px) {
  .player-filter {
    padding: 10px;
  }

  .filter-title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .filter-select {
    width: 100%;
    padding: 8px;
    margin: 3px 0;
  }

  .filter-button {
    padding: 8px 16px;
  }
}

/*ClubPage*/
.player-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.player-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
  background-color: #fff;
  margin: 10px;
}

.player-card img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.player-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}


.player-card p {
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
}

.player-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .player-card {
    width: 100%;
  }
}

.player-card button:hover {
  background-color: #0056b3;
}

.club-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.club-dashboard h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.filter {
  margin: 20px 0;
}

.filter select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.players h2 {
  font-size: 1.5rem;
  margin: 20px 0;
}

.accepted-players,
.rejected-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Estilos para hacer responsive */
@media (max-width: 768px) {
  .players,
  .accepted-players,
  .rejected-players {
    flex-direction: column;
  }
  .players h2,
  .accepted-players h2,
  .rejected-players h2 {
    font-size: 1.2rem;
  }
}

/*Userpage*/
.form-style-4{
	width: 450px;
	font-size: 16px;
	background: #5ea39d;
	padding: 30px 30px 15px 30px;
	border: 5px solid #53687E;
}
.form-style-4 input[type=text],
.form-style-4 label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	float: left;
	width: 150px;
}
.form-style-4 input[type=text]
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-style-4 textarea{
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #5abee6;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus
{
background: #2fb0b9;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.large-form {
  width: 600px; /* Cambia el ancho según tus necesidades */
  height: auto; /* Puedes ajustar la altura según sea necesario */
}
/*AdminPage*/
.form-admin{
  margin: 5%;
  width: 60%;
  height: auto;
  background-color: #04373dad;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}
.admin {
  position: unset;
  display: block;
  justify-content: center;
  align-items: center;
  top: 150px;
}





