:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*login*/
.login {
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.label{
  justify-content: center;
  text-align: center;
  align-items: center;
}
.form-login {
  
  margin: 0 auto;
  width: 75%;
  height: auto;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}


.titelLog {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}


.usuario_estilo,
.contrasenia {
  justify-content: center;
  width: 75%;
  padding: 8px;
  padding-top: 8px;
  margin-bottom: 20px;
  margin-right: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/*register */

.invalid-feedback {
  margin-bottom: 15px;
  display: flex;
  font-size: 14px;
  color: #dc3545;
}


Button[type="submit"] {
  width: 100%;
  background-color: #39aa22;
  color: #fff;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

Button[type="button"] {
  margin: 5px;
  background-color: #ffffff;
  color: #000000;
}


button[type="submit"]:hover {
  background-color: #28812d;
}


input.is-invalid {
  border-color: #dc3545 !important;
}
/* Userpage */
card-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
 max-width: 600px;
 margin-left: 400px;
  text-align: center;
  font-family: Arial, sans-serif;
}

.card-logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.card-content {
  flex: 1;
  text-align: center;
}

.card h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.card p {
  font-size: 18px;
}

.card-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.card-button:hover {
  background-color: #0056b3;
}


@media (max-width: 767px) {
  .card {
    padding: 10px;
    font-size: 16px;
  }
  .card h2 {
    font-size: 20px;
  }
  .card p {
    font-size: 16px;
  }
  .card-button {
    font-size: 16px;
  }
}


.player-filter {
  background-color: #f5f5f5;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.filter-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.filter-select {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #0056b3;
}


@media (max-width: 767px) {
  .player-filter {
    padding: 10px;
  }

  .filter-title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .filter-select {
    width: 100%;
    padding: 8px;
    margin: 3px 0;
  }

  .filter-button {
    padding: 8px 16px;
  }
}

/*ClubPage*/
.player-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.player-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 300px;
  background-color: #fff;
  margin: 10px;
}

.player-card img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.player-card h3 {
  font-size: 1.5rem;
  margin: 10px 0;
}


.player-card p {
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
}

.player-card button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .player-card {
    width: 100%;
  }
}

.player-card button:hover {
  background-color: #0056b3;
}

.club-dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
}

.club-dashboard h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.filter {
  margin: 20px 0;
}

.filter select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
}

.players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.players h2 {
  font-size: 1.5rem;
  margin: 20px 0;
}

.accepted-players,
.rejected-players {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Estilos para hacer responsive */
@media (max-width: 768px) {
  .players,
  .accepted-players,
  .rejected-players {
    flex-direction: column;
  }
  .players h2,
  .accepted-players h2,
  .rejected-players h2 {
    font-size: 1.2rem;
  }
}









